HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.classpath
.project
.settings
.springBeans
.sts4-cache
bin/

.idea
*.iws
*.iml
*.ipr

.vscode/

*.log
logs/
*.tld
*.bak
*.class

.env
.env.local
env.properties
application-secret.properties

build/
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
Thumbs.db